@import '../../styles/mixins'
@import '../../styles/variables'

$borderRadius: 5px

.root
    display: flex
    height: 35px

    @include for-tablet-up
        height: auto
        flex-direction: column

.button
    @include flex-center

    cursor: pointer
    width: 30px

    border: none
    outline: none

    background-color: $light-gray

    &:first-child
        border-radius: $borderRadius 0 0 $borderRadius

        @include for-tablet-up
            border-radius: $borderRadius * 2 $borderRadius * 2 0 0

    &:last-child
        border-radius: 0 $borderRadius $borderRadius 0

        @include for-tablet-up
            border-radius: 0 0 $borderRadius * 2 $borderRadius * 2

    @include for-tablet-up
        width: 40px
        min-height: 34px

.result
    @include flex-center

    color: $moderate-blue
    font-weight: 500
    min-width: 30px
    background-color: $light-gray

    @include for-tablet-up
        min-height: 32px
